In [29]:
import csv
import pandas as pd
import requests
from geopy.geocoders import Nominatim

In [30]:
#carica dataset
dataSet=pd.read_csv("delivery_data.csv")

dataSet.head()

,Unnamed: 0,SERVICETYPE,VEHICLETYPE,DEPARTURE_COUNTRY,DEPARTURE_ZIPCODE,ARRIVAL_COUNTRY,ARRIVAL_ZIPCODE,SHIPPING_DATE,GROSS_WEIGHT_KG,NET_WEIGHT_KG,VOLUME_M3,DECLARED_DISTANCE_KM,ACTUAL_DELIVERY_DATE,DELIVERY_TIME_HH,WDAY
0,1,NaN,NaN,IT,62010.0,IT,20121,2023-01-11 00:00:14,7.30,7.00,0.0,NaN,2022-11-16 00:00:14,-1344,2
1,2,NaN,NaN,IT,62010.0,IT,15069,2023-01-11 00:00:14,1.70,1.40,0.0,NaN,2022-11-16 00:00:14,-1344,2
2,3,NaN,NaN,IT,62010.0,IT,10036,2023-01-11 00:00:14,0.72,0.42,0.0,NaN,2022-11-17 00:00:14,-1320,2
3,4,NaN,NaN,IT,62010.0,IT,70121,2023-01-11 00:00:14,0.86,0.56,0.0,NaN,2022-11-16 00:00:14,-1344,2
4,5,NaN,NaN,IT,62010.0,IT,20090,2023-01-11 00:00:14,0.58,0.28,0.0,NaN,2022-11-16 00:00:14,-1344,2

In [108]:
def get_osrm_distance(coord1, coord2):
    # Coordinate devono essere in formato (long, lat)
    url = f"http://router.project-osrm.org/route/v1/driving/{coord1[1]},{coord1[0]};{coord2[1]},{coord2[0]}"
    
    response = requests.get(url)
    data = response.json()
    
    # Distanza in metri, convertita in miglia
    distance_km = data['routes'][0]['distance'] /1000
    duration_seconds = data['routes'][0]['duration']
    
    return round(distance_km, 2), duration_seconds

In [101]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic
from typing import Optional, Tuple

def get_zipcode_coordinates(zipcode: str, country) -> Optional[Tuple[float, float]]:
    try:
        geolocator = Nominatim(user_agent="my_distance_calculator")
        location = geolocator.geocode(f"{zipcode}, {country}")
       
        if location:
            return (location.latitude, location.longitude)
        return None
       
    except Exception as e:
        print(f"Error getting coordinates for {zipcode}: {str(e)}")
        return None

In [109]:

#ITA



coordinataPartenza=get_zipcode_coordinates(63811, "IT")#(dataSet["DEPARTURE_ZIPCODE"][67])
print(dataSet["DEPARTURE_ZIPCODE"][71])
print(coordinataPartenza)

coordinataArrivo=get_zipcode_coordinates(73014, "IT")#(dataSet["ARRIVAL_ZIPCODE"][67])
print(dataSet["ARRIVAL_ZIPCODE"][71])
print(coordinataArrivo)

95033.0
(43.24859991851852, 13.704832418518519)
63076
(40.057195959210524, 17.99550312763158)

In [110]:
distanza=get_osrm_distance(coordinataPartenza, coordinataArrivo)#62010    20121
print(distanza)

(605.82, 23879.4)

In [111]:

#USA


coordinataPartenza=get_zipcode_coordinates(10065, "US")#(dataSet["DEPARTURE_ZIPCODE"][67])
print(dataSet["DEPARTURE_ZIPCODE"][71])
print(coordinataPartenza)

coordinataArrivo=get_zipcode_coordinates(33146, "US")#(dataSet["ARRIVAL_ZIPCODE"][67])
print(dataSet["ARRIVAL_ZIPCODE"][71])
print(coordinataArrivo)

95033.0
(40.76602690929853, -73.96466868433932)
63076
(25.720867005183987, -80.27201400009257)

In [105]:
distanza=get_osrm_distance(coordinataPartenza, coordinataArrivo)#62010    20121
print(distanza)

(2074.04, 87444.1)