## Getting a zip distance matrix for easy lookup

In [1]:
#Necessary Imports 
%autosave 120
import os
import pandas as pd
import numpy as np
import mpu
import json
import time
import pickle
import warnings
warnings.filterwarnings("ignore")

# Helper functions
def walk_up_folder(path, depth=1):
    """
    Helper method to navigate the file system and get to the file location
    """
    _cur_depth = 1
    while _cur_depth < depth:
        path = os.path.dirname(path)
        _cur_depth += 1
    return path

Autosaving every 120 seconds

In [30]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Loading raw data

Source - https://github.com/symerio/postal-codes-data/blob/master/data/geonames/US.txt 

**Geocoding format**
The result of a geo-localistion query is a pandas.DataFrame with the following columns,

country_code: iso country code, 2 characters  
postal_code : postal code  
place_name : place name (e.g. town, city etc)  
state_name : 1. order subdivision (state)  
state_code : 1. order subdivision (state)  
county_name : 2. order subdivision (county/province)  
county_code : 2. order subdivision (county/province)  
community_name : 3. order subdivision (community)  
community_code : 3. order subdivision (community)  
latitude : estimated latitude (wgs84)  
longitude : estimated longitude (wgs84)  
accuracy : accuracy of lat/lng from 1=estimated to 6=centroid

In [2]:
# Load USZips data
zip_df = pd.read_csv(os.path.join(walk_up_folder(os.getcwd(), 3), "Data/US_zips.txt"),sep='\t',header=None,
                     names=["country_code","postal_code","place_name","state_name","state_code",
                            "county_name","county_code","community_name","community_code",
                            "latitude","longitude","accuracy"])

# Dropping unnecessary columns 
zip_df.drop(["country_code","place_name","state_name","county_name","county_code","community_name","community_code"],axis=1,inplace=True)

In [3]:
zip_df

       postal_code state_code  latitude  longitude  accuracy
0            99553         AK   54.1430  -165.7854       1.0
1            99571         AK   55.1858  -162.7211       1.0
2            99583         AK   54.8542  -163.4113       1.0
3            99612         AK   55.0628  -162.3056       1.0
4            99661         AK   55.3192  -160.4914       1.0
...            ...        ...       ...        ...       ...
41478        96558        NaN   19.7542  -155.5858       4.0
41479        96598        NaN  -89.9976   139.2729       NaN
41480        96599        NaN  -77.8460   166.6760       NaN
41481        96860        NaN   21.3448  -157.9774       4.0
41482        96863        NaN   21.4505  -157.7680       4.0

[41483 rows x 5 columns]

In [4]:
(zip_df.postal_code.value_counts())

96863    2
96860    2
97114    1
74577    1
80722    1
        ..
54736    1
50642    1
62932    1
58838    1
67583    1
Name: postal_code, Length: 41481, dtype: int64

In [5]:
zip_df[zip_df.postal_code==96860]

       postal_code state_code  latitude  longitude  accuracy
8879         96860         HI   21.3160  -157.8677       1.0
41481        96860        NaN   21.3448  -157.9774       4.0

In [6]:
zip_df.drop_duplicates(subset=["postal_code"],keep='last',inplace=True)

In [7]:
zip_df["coord"]=list(zip(zip_df["latitude"],zip_df["longitude"]))

In [8]:
zip_df

,postal_code,state_code,latitude,longitude,accuracy,coord
0,99553,AK,54.1430,-165.7854,1.0,"(54.143, -165.7854)"
1,99571,AK,55.1858,-162.7211,1.0,"(55.1858, -162.7211)"
2,99583,AK,54.8542,-163.4113,1.0,"(54.8542, -163.4113)"
3,99612,AK,55.0628,-162.3056,1.0,"(55.0628, -162.3056)"
4,99661,AK,55.3192,-160.4914,1.0,"(55.3192, -160.4914)"
...,...,...,...,...,...,...
41478,96558,NaN,19.7542,-155.5858,4.0,"(19.7542, -155.5858)"
41479,96598,NaN,-89.9976,139.2729,NaN,"(-89.9976, 139.2729)"
41480,96599,NaN,-77.8460,166.6760,NaN,"(-77.846, 166.676)"
41481,96860,NaN,21.3448,-157.9774,4.0,"(21.3448, -157.9774)"
41482,96863,NaN,21.4505,-157.7680,4.0,"(21.4505, -157.768)"

In [9]:
zip_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41481 entries, 0 to 41482
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postal_code  41481 non-null  int64
 1   state_code   40970 non-null  object
 2   latitude     41481 non-null  float64
 3   longitude    41481 non-null  float64
 4   accuracy     40949 non-null  float64
 5   coord        41481 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 2.2+ MB

## Lookup Matrix

The idea is to form a (41483,41483) matrix where the cell values are the haversize distances between two zips that are indexed. I'll save the index look up and the matrix file as json or pkl

In [10]:
zip_df["mapping"] = zip_df.index

In [11]:
# Dictionary mapping the zipcode to index
zip_index = dict(zip(zip_df["postal_code"].astype(str),zip_df["mapping"]))

In [12]:
len(zip_index)

41481

In [13]:
len_matrix = zip_df.shape[0]

In [14]:
zip_dist = np.zeros((len_matrix, ) * 2)

In [15]:
zip_dist.shape

(41481, 41481)

In [16]:
def geodist(coord1,coord2):
    """
    Calculate the distance between
    (lat1, lon1), (lat2, lon2)
    """
    # Convert to miles 1km = 0.621371 miles
    return round(mpu.haversine_distance(coord1,coord2)*0.621371,2)

In [18]:
geodist(zip_df.loc[345].coord,zip_df.loc[344].coord) # Testing random lat,long

10.77

In [48]:
%%time
# This didn't work since lat,long is a tuple and not 1D
# pd.pivot_table(zip_df, values='coord', index='postal_code', columns='postal_code', aggfunc=geodist)

CPU times: user 3 Âµs, sys: 1 Âµs, total: 4 Âµs
Wall time: 5.25 Âµs

In [19]:
coordinates = zip_df.coord.values

In [20]:
coordinates

array([(54.143, -165.7854), (55.1858, -162.7211), (54.8542, -163.4113),
       ..., (-77.846, 166.676), (21.3448, -157.9774), (21.4505, -157.768)],
      dtype=object)

In [21]:
indices = np.arange(len_matrix)

In [22]:
indices

array([    0,     1,     2, ..., 41478, 41479, 41480])

In [135]:
%%time
# Get upper triangular pairs 
fill_cells = np.stack(np.triu_indices(len_matrix), axis=1)

CPU times: user 19.9 s, sys: 42.6 s, total: 1min 2s
Wall time: 1min 21s

In [140]:
len(fill_cells)

860357421

In [171]:
%%time
import numba as nb
#@nb.njit(parallel=True,fastmath=True)
def func(len_matrix):
    zip_dist = np.zeros((len_matrix, ) * 2)
    indices = np.arange(len_matrix)
    # Get upper triangular pairs 
    fill_cells = np.stack(np.triu_indices(len_matrix), axis=1)
    # Loop through upper triangular indices while avoiding diagonal element indices
    for idx in fill_cells:
        i,j = indices[idx]
        if i!=j:
            zip_dist[i][j]= zip_dist[j][i] = geodist(coordinates[i],coordinates[j])
    return zip_dist

CPU times: user 6 Âµs, sys: 0 ns, total: 6 Âµs
Wall time: 8.82 Âµs

In [172]:
%%time
zip_dist = func(len_matrix) # Takes 1hour. Unfortunately numba.jit doesn't work with user defined functions

CPU times: user 1h 46s, sys: 1min 19s, total: 1h 2min 5s
Wall time: 1h 2min 54s

In [173]:
zip_dist

array([[   0.  ,  142.06,  107.18, ..., 9194.62, 2302.84, 2297.59],
       [ 142.06,    0.  ,   35.67, ..., 9283.28, 2351.1 , 2344.99],
       [ 107.18,   35.67,    0.  , ..., 9256.57, 2332.5 , 2326.58],
       ...,
       [9194.62, 9283.28, 9256.57, ...,    0.  , 6998.84, 7007.77],
       [2302.84, 2351.1 , 2332.5 , ..., 6998.84,    0.  ,   15.32],
       [2297.59, 2344.99, 2326.58, ..., 7007.77,   15.32,    0.  ]])

In [120]:
def fill_lfromu(A):
    """
    Fill out the symmetric values in the lower triangle based on upper
    Not needed since it is covered in the for loop above
    """
    out = A.T + A
    np.fill_diagonal(out,0)
    return out

In [ ]:
%%time
# Saving the indexer 
with open(os.path.join(walk_up_folder(os.getcwd(), 3), "Data/zips_indexer.json"), 'w') as f:
    json.dump(zip_index, f)
          
# Saving the matrix       
np.save(os.path.join(walk_up_folder(os.getcwd(), 3), "Data/zip_dist.npy"), zip_dist)

## Testing  - Verification

In [23]:
%%time
# Load the saved objects
f = open(os.path.join(walk_up_folder(os.getcwd(), 3), "Data/zips_indexer.json"))
test_dict = json.load(f)

new_num_arr = np.load(os.path.join(walk_up_folder(os.getcwd(), 3), "Data/zip_dist.npy")) # load

CPU times: user 15.4 ms, sys: 10.4 s, total: 10.5 s
Wall time: 14.7 s

In [34]:
import sys
sys.getsizeof(new_num_arr) # 13.7 GB Might need some compression
new_num_arr.shape

13765387008

(41481, 41481)

In [32]:
# Checking 2 zipcodes i'm familiar with
zip_df[(zip_df["postal_code"]==95035)|(zip_df["postal_code"]==94085)]

,postal_code,state_code,latitude,longitude,accuracy,coord,mapping
4462,94085,CA,37.3886,-122.0177,4.0,"(37.3886, -122.0177)",4462
4487,95035,CA,37.4352,-121.8950,4.0,"(37.4352, -121.895)",4487

In [35]:
# Index mapping is proper
test_dict["95035"]
test_dict["94085"]

4487

4462

In [36]:
geodist(zip_df.iloc[4487].coord,zip_df.iloc[4462].coord)

7.46

In [38]:
new_num_arr[test_dict["95035"]][test_dict["94085"]]
new_num_arr[test_dict["94085"]][test_dict["95035"]]
new_num_arr[test_dict["95035"]][test_dict["95035"]]

7.46

7.46

0.0

### Compressing the saved file

In [60]:
%%time
# Trying a compressed save
# Also lowering the dtype from float64 to float32
np.savez_compressed(os.path.join(walk_up_folder(os.getcwd(), 3), "Data/zip_dist.npz"), np.float32(new_num_arr))

CPU times: user 4min 49s, sys: 44.9 s, total: 5min 34s
Wall time: 6min 9s

In [49]:
mat1 = np.load(os.path.join(walk_up_folder(os.getcwd(), 3), "Data/zip_dist.npz"))
sys.getsizeof(new_num_arr)

64

13765387008

In [56]:
mat1.files

['arr_0']

In [57]:
sys.getsizeof(mat1['arr_0'])

13765387008

In [59]:
mat1['arr_0'][test_dict["95035"]][test_dict["94085"]]

7.46

In [54]:
mat = np.float32(new_num_arr)
sys.getsizeof(mat)

6882693564

In [55]:
mat

array([[   0.  ,  142.06,  107.18, ..., 9194.62, 2302.84, 2297.59],
       [ 142.06,    0.  ,   35.67, ..., 9283.28, 2351.1 , 2344.99],
       [ 107.18,   35.67,    0.  , ..., 9256.57, 2332.5 , 2326.58],
       ...,
       [9194.62, 9283.28, 9256.57, ...,    0.  , 6998.84, 7007.77],
       [2302.84, 2351.1 , 2332.5 , ..., 6998.84,    0.  ,   15.32],
       [2297.59, 2344.99, 2326.58, ..., 7007.77,   15.32,    0.  ]],
      dtype=float32)